<div class="row">

  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show) , class: "book-show"%>
  </div>

  <div class="col-md-8">
    <h2> <%= @book.title %> </h2>
    <h3> <%= @book.author %> </h3>
    <h2>Average Rating</h2>
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
    <p> <%= @book.description %> </p>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
      <!-- Where reviews/ratings will go-->
      <%= render @book.reviews %>
      <div>
        <%= link_to "Add review" , new_book_review_path(@book)%>
      </div>
  </div>
</div>


<%= link_to "Back", root_path %>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>

<script>
 $('.review-rating').raty({
   readOnly: true,
   score: function(){
     return $(this).attr('data-score')
   },
   path: '/assets/'
 });
</script>

<script>
  $('#rating-form').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score')
    }
  });
</script>
